<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title><%= query %> - YouTube</title>
  <meta name="description" content="A anonymous Youtube that does not spy on you.">
  <meta property="og:title" content="YouTube">
  <meta property="og:description" content="A anonymous Youtube that does not spy on you.">
  <meta property="og:site_name" content="YouTube | Watch Anonymously!">
  <meta property="og:image" content="/banner.png">
  <meta name="theme-color" content="#FFFFFF">
  <link rel="shortcut icon" href="/logo.png">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="author" content="YouTube | Watch Anonymously!">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/font.css">
  <script src="/js/bootstrap.min.js"></script>
</head>

<body>
  <nav class="navbar navbar-white bg-white" aria-label="We hope you enjoy it!">
    <div class="container-fluid">
      <a href="/" class="navbar-brand">
        <img width="110" src="/logo.png">
      </a>
      <a class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16"> <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/> </svg>
      </a>
      <div class="collapse navbar-collapse" id="navbarsExample01">
        <ul class="navbar-nav me-auto mb-2">
          <li class="nav-item">
            </ul>
          </li>
        </ul>
        <form action="/s">
          <input name="q" class="form-control" type="text" placeholder="Search" aria-label="Search">
        </form>
      </div>
    </div>
  </nav>
   <% res.items.forEach(video => { %>
     <% if (video.type === 'video') { %>
       <div class="col">
         <div class="card h-100">
           <div class="contenedor">
  <a href="/w/<%= video.id %>"><img src="<%= video.bestThumbnail.url.slice(19) %>" class="card-img-top" alt="<%= video.title %>"></a>
  <div class="centrado">
  <small style="background:black; color:white; font-size:10px; padding:0px;"><%= video.duration %></small>
</div>
</div>


<style>
.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}
 

.centrado{
    position: absolute;
    top: 90%;
    right: 0%;
    transform: translate(-50%, -50%);
}
</style>
       <div class="video-content">
     <div class="avatar-channel">
     <div class="avatar"><img src="/yt3/<%= video.author.bestAvatar.url.slice(22) %>"</div>
     </div>
     </div>
     <div class="video-info">
     <div class="title-video"><%=video.title%>
     <div class="channel-visits-date">
       <%=video.author.name%> • <%= video.uploadedAt %>
                   </div>
                 </div>
               </div>
             </div>
           </div>
         </div>
       </div>
        </div>
      </div>
     <% } else if (video.type === 'playlist') { %>
           <div class="contenedor">
           <a href="/p/<%= video.playlistID %>"><img src="<%= video.firstVideo.bestThumbnail.url.slice(19) %>" class="card-img-top" alt="<%= video.title %>"></a>
   <div class="centrado">
  <small style="background:black; color:white; font-size:10px; padding:0px;"><%= video.length %></small>
</div>
</div>


<style>
.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}
 

.centrado{
    position: absolute;
    top: 90%;
    right: 0%;
    transform: translate(-50%, -50%);
}
</style>
   <div class="video-info">
     <div class="title-video"><%=video.title%>
             <% if (video.owner) { %> <p class="card-subtitle"><p href="/u/<%= video.owner.id %>"><%= video.owner.name %></a></p> <% } %>
           </div>
           </div>
         </div>
       </div>
      </div>
         </div>
       </div>
    <% } else if (video.type === "channel") { %>
      
      <% } %>
      <% }); %>
    </div>
<span class="border-0"></span> <span class="border-top-0"></span> <span class="border-right-0"></span> <span class="border-bottom-0"></span> <span class="border-left-0"></span>
<style>
body{
   width: 100%;
   background: #FFFFFF;
   font-family: "Verdana";
   margin:0;
   padding: 0;
   --color-holder: #ced4da;
   --primary-color: #1880c9;
   --primary-alpha-Dot75: rgba(24, 128, 201, 0.75);
   --primary-alpha-Dot5: rgba(24, 128, 201, 0.5);
   --primary-alpha-Dot25: rgba(24, 128, 201, 0.25);
   --primary-alpha-Dot15: rgba(24, 128, 201, 0.15);
   --primary-alpha-Dot1: rgba(24, 128, 201, 0.1);
   --primary-alpha-Dot05: rgba(24, 128, 201, 0.05);
   --primary-dark: #106daf;
 
   --secondary-color: #a5b5c5;
   --light-color: #e5eaef;
 
   --white-color: #fff;
 
   --dark-color: #2a3f5a;
   --dark-alpha-Dot5: rgba(42, 63, 90, 0.5);
   --dark-alpha-Dot95: rgba(42, 63, 90, 0.95);
 
   --success-color: #68bb69;
   --success-alpha-Dot5: rgba(104, 187, 105, 0.5);
   --danger-color: #f65f6e;
   --danger-alpha-Dot5: rgba(246, 95, 110, 0.5);
   --warning-color: #F8BC34;
   --warning-alpha-Dot5: rgba(254, 201, 90, 0.5);
}

*{user-select: none;box-sizing: border-box;}
.headers{
  position: fixed;
  top:0;
  left: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 55px;
  background: var(--white-color);
  margin-bottom: 10px;
  overflow: hidden;
  z-index: 100;
  transition: all ease-out 0.1s;
}
.headers.hidden{
  background:red;
  display: none;
  width: 0;
  height: 0;
}
.headers .var_1{
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:0 5px;
 }
 
 .info-video-watch .title-video-description .title-visits{
   width: 100%;
   display: flex;
   justify-content:center;
   flex-direction: column;
   padding:0 10px;
 }
 .info-video-watch .title-video-description .title-visits .title{
   font-size: 17px;
 }
 
 .info-video-watch .title-video-description .title-visits .visits{
   font-size: 13px;
 }
 .info-video-watch .title-video-description .description{
   width:80px;
   height: auto;
 }
 .info-video-watch .channel-author{
   width: 100%;
   height: 60px;
   box-sizing: border-box;
   display: flex;
   align-items: center;
   justify-content:space-between;
   border:1.5px solid var(--light-color);
 }
 .channel-author .var_1{
   display: flex;
   width: 200px;
   margin:0 5px;
 }
 .channel-author .var_1 .name-author{
   display: flex;
   flex-direction: column;
 }
 .channel-author .var_1 .avatar-channel{
   width: 35px;
   height: 35px;
 }
 .channel-author .var_1 .name-author .name{
   font-size:17px;
 }
 .channel-author .var_1 .name-author .sub{
   font-size: 13px;
 }
 .channel-author .var_3{
   display: flex;
   justify-content: center;
   align-items: center;
   text-transform: uppercase;
   margin: 0 15px;
   color: var(--danger-color);
   font-weight: 400;
 }
.related-video-query{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background: var(--white-color);
}
.related-video-query .video-related{
  display:flex;
  width: 100%;
  height: 250px;
}
.related-video-query .video-related img{
  width: 100%;
  height: auto;
}
 .related-video-query .video-related a{
  width:100%;
  height:auto;
 }
@supports(object-fit: cover){
 .related-video-query .video-related img{
  height: 100%;
  object-fit: cover;
  object-position: center center;
  }

.video-content{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-items: space-evenly;
  background: var(--white-color);
}
 .video-info{
 
 }
 
.title-video{
  font-size: 12px;
  margin-bottom: 5px;
  padding:5px 0;
}
.channel-visits-date{
  font-size:10px;color: #808080;
}
</style>
<style>
.video-query .video-related .media-item-thumbnail .content-miniature .video-thumbnails-overlay .overlay-time-status{margin: 5px;padding: 1px 4px;border-radius: 2px;background-color: rgb(0,0,0,0.8);}.avatar-channel{width: 35px;height: 35px;border-radius:100%;margin: 0 10px;min-width: 35px;min-height: 35px;overflow: hidden;}.avatar-channel .avatar{width:100%;height:auto;}.avatar-channel .avatar>img{width: 100%;height: auto;filter: brightness(90%);object-fit:cover;}.content-videos-server .channel-author-search:active{background: #383941;}.content-videos-server .channel-author-search .avatar{width: 80px;height: 80px;min-height: 80px;min-width: 80px;border-radius:100%;overflow: hidden;margin: 0 10px;}.content-videos-server .channel-author-search .avatar>img{width: 100%;height: 100%;object-fit:cover;}.content-videos-server .channel-author-search .name_sub-number{display: flex;flex-direction:column;}
</style>
</body>
</html>
